/* You can add global styles to this file, and also import other style files */
/* @import "tailwindcss"; */
/* @import url("rras3k.css"); */

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --badge-bg-color: brown;
  --md: 768px;
}

.root {
  width: 100%;
}

/* TABLET LANDSCAPE */
@media (min-width: 768px) {
  .root {
    width: 80%;
    margin: auto;
  }
}


.zone {
  background-color: white;
  box-shadow: 2px 7px 13px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: medium;
  border-radius: 10px;

  & .zone_nom {
    background-color: rgb(243, 238, 238);
    color: grey;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: bold;
  }

  & .zone_core {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }


@media (min-width: 768px) {
  .zone_core {
        justify-content: space-around;
  }
}



  & .zone_core>.niv_contener:nth-child(1) {
    color: red;
  }

  & .zone_core>.niv_contener:nth-child(2) {
    color: green;
  }

  & .zone_core>.niv_contener:nth-child(3) {
    color: blue;
  }

  & .zone_core>.niv:nth-child(4) {
    color: orange;
  }

  /* & .zone_core :nth-child(2) {
    color:green;
  }
  & .zone_core :nth-child(3) {
    color:blue;
  } */

  & .niv_contener {}

  & .niv {
    /* color:inherit; */
    font-size: large;
    min-height: 100px;
    text-align: center;
    /* display: grid;
    grid-template-columns: [first] 30px [line2] auto [end]; */

    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-base);
    padding: 5px;

    /* border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid; */

    background-color: color-mix(in srgb, currentColor 20%, transparent);

    & .col_numero {
      margin-top: auto;
      margin-bottom: auto;
      /* color: var(--color-base); */
      color: currentColor;

      & i {

        font-size: small;
        /* color:color-mix(in srgb, currentColor 20%, transparent); */
      }
    }



    & .list {
      color: var(--color-base);

    }

    & .taxi {
      /* background-color: rgba(192, 226, 215, 0.692); */
      display: grid;
      grid-template-columns: [first] 100px [line2] 60px [line3] 170px [end];
      margin-top: 5px;
      height: 30px;
    }

    & .progress {
      /* background-color: rgb(242, 226, 226); */
      background-color: color-mix(in srgb, currentColor 10%, white);

    }

    & .progress_coef {
      background-color: currentColor;
      height: 100%;

    }

    & .coef_contener {
      height: 100%;
      border-width: 0px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-style: solid;
      border-color: currentColor;
      background-color: currentColor;
      display: flex;
    }

    & .coef {
      width: 100%;
      margin-right: 5px;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 5px;
      background-color: currentColor;
      text-align: right;

      & span {

        color: color-mix(in srgb, currentColor 10%, white);
      }
    }

    & .nom {
      text-align: left;
      padding-left: 10px;
      color: currentColor;
      margin-top: auto;
      margin-bottom: auto;

    }
  }
}



.badge {
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--badge-bg-color);
  background-color: white;
  color: var(--badge-bg-color);
  padding: 3px;
  margin-right: 2px;
}



.card {
  display: flex;
  flex-direction: column;
  border-radius: 16px 16px 16px 16px;
  width: 272px;

  box-shadow: 2px 7px 13px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  border-color: #000000;

  .card-body {
    background-color: #fffcfc;
    flex-grow: 1;
    padding: 24px;
  }

  .card-title {
    color: #cd1212;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;

  }

  .card-text {
    line-height: 1.4;
    margin: 10px 0px 0px 0px;
    font-size: 17px;
    color: #000000;
  }
}
